<footer >
  <p>&copy; 1990-2015 Demo &amp; Company.</p>
</footer>
<style>
body {
    background-color: linen;
}

footer {  
   text-align: center;
   position: relative;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#999;

}
h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>