<header >
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <br>
        <h1><%= link_to "Ticket Management ", root_path, :class => "brand" %></h1>
        <ul class="nav pull-right">
          
        </ul>
      </div>
    </div>
  </div>
</header>